/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
:root {
  --black: #000;
  --white: #fff;
  --primary: #006E99;
  --gray: #ECF0F3;
  --alice-blue: #E5F8FF;
  --font2: 'Montserrat', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.bg_gray {
  background-color: var(--gray);
}

.section-content .title {
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 0.2px;
  color: var(--black);
}

.navbar_top {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 25px 0;
}

.navbar_top .menuList {
  gap: 10px;
  margin-left: 40px;
}

.navbar_top .menuList .nav-link,
.navbar_top .menuList a {
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 18px;
}

.navbar_top .signLogBtn {
  gap: 10px;
}

.navbar_top .signLogBtn .nav-link,
.navbar_top .signLogBtn a {
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--primary);
  min-width: 92px;
  height: 45px;
  border: 1px solid var(--primary);
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-size: 18px;
}

.navbar_top .signLogBtn .act {
  background: var(--primary);
  color: var(--white);
}

.banner_area {
  background: var(--gray);
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner_area .banner_content .title {
  font-weight: 800;
  font-size: 54px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #002533;
}

.banner_area .banner_content form {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  margin: 30px 0 25px;
}

.banner_area .banner_content form input {
  min-width: 445px;
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  font-family: var(--font2);
  padding: 0 15px;
}

.banner_area .banner_content form button {
  background: var(--primary);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 0 18px;
  height: 50px;
}

.banner_area .banner_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner_area .banner_content ul li a {
  background: var(--alice-blue);
  border: 1px solid var(--black);
  border-radius: 10px;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.2px;
  height: 50px;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_logo_area {
  padding: 30px 0;
}

.client_logo_area .client_logo_item {
  height: 80px;
  display: -ms-grid !important;
  display: grid !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories_area {
  border-top: 10px solid var(--gray);
}

.categories_area .categories_content {
  margin-top: 50px;
}

.categories_area .categories_content .categories_item {
  position: relative;
  z-index: 1;
}

.categories_area .categories_content .categories_item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 98%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.categories_area .categories_content .categories_item .textC {
  position: absolute;
  bottom: 7px;
  z-index: 11;
  width: 100%;
  left: 0;
  padding: 25px;
}

.categories_area .categories_content .categories_item .textC .h5 {
  color: var(--white);
}

.categories_area .categories_content .categories_item .textC p {
  color: var(--white);
}

.choose_platform_area {
  background-image: url(../img/platform-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose_platform_area .section-content {
  padding-bottom: 30px;
}

.choose_platform_area .hire_form {
  background-color: var(--alice-blue);
  border-top: 10px solid var(--primary);
  padding: 50px 35px;
}

.choose_platform_area .hire_form .h4 {
  padding: 13px 0 20px;
  font-weight: 700;
}

.choose_platform_area .hire_form .btn {
  width: 300px;
  height: 50px;
  background: var(--primary);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.1px;
}

.work_plane_area .work_plane_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 63% 35%;
      grid-template-columns: 63% 35%;
  gap: 25px;
}

.work_plane_area .work_plane_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
}

.work_plane_area .work_plane_list .work_plane_item {
  position: relative;
}

.work_plane_area .work_plane_list .work_plane_item .number {
  color: #CCF1FF;
  font-family: 'Neonderthaw', cursive;
  position: absolute;
  font-size: 46px;
  top: -33px;
  left: -28px;
  z-index: -1;
}

.work_plane_area .work_plane_list .work_plane_item .h4 {
  font-weight: 700;
}

.work_plane_area .work_plane_list .work_plane_item .get_btn a {
  background: var(--primary);
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  border-radius: 10px;
}

.work_plane_area .work_plane_img {
  background-image: url(../img/work.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work_plane_area .work_plane_img .play_i {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.services_area .about_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services_area .filterS {
  margin-left: auto;
  font-size: 40px;
  cursor: pointer;
}

.services_area .services_item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
          box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
  padding: 20px;
  margin-top: 25px;
}

.services_area .services_item .services_img {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.services_area .services_item .services_img img {
  border-radius: 10px;
}

.services_area .services_item .services_img .heart {
  position: absolute;
  top: 20px;
  right: 20px;
}

.services_area .services_item .services_img .heart span {
  display: none;
  color: var(--white);
  border: 1px solid var(--white);
  width: 30px;
  height: 30px;
  border-radius: 100px;
  text-align: center;
  padding: 4px 0;
  font-size: 14px;
  cursor: pointer;
}

.services_area .services_item .services_img .heart .active {
  display: block;
}

.services_area .services_item .services_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services_area .services_item .services_user .use_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.services_area .services_item .services_user .use_img span {
  font-size: 14px;
}

.services_area .services_item .services_user .use_button {
  margin-left: auto;
}

.services_area .services_item .services_user .use_button .use_btn {
  background-color: var(--alice-blue);
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 12px;
  color: var(--black);
  cursor: pointer;
}

.services_area .services_item .services_description {
  padding: 24px 0;
}

.services_area .services_item .services_description p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: var(--black);
}

.services_area .services_item .services_footer {
  border-top: 1px solid #B6B6B6;
}

.services_area .services_item .services_footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 15px;
}

.services_area .services_item .services_footer ul li {
  font-weight: 600;
  font-size: 14px;
}

.services_area .services_item .services_footer ul .name_pri span {
  color: #E71D1C;
}

.services_area .services_item .services_footer ul .star {
  margin-left: auto;
  color: #FABE63;
}

.services_area .services_item .services_footer ul .star span {
  color: #B6B6B6;
}

.Solution_area .solution_item {
  background-color: var(--alice-blue);
  padding: 45px 30px;
  text-align: center;
  margin-top: 25px;
}

.Solution_area .solution_item img {
  height: 60px !important;
}

.Solution_area .solution_item .h5 {
  font-weight: 600;
  margin-top: 10px;
}

.team_area .team_content .team_item {
  background: var(--white);
  -webkit-box-shadow: 0px 4px 8px rgba(97, 97, 97, 0.14), 0px 8px 16px rgba(97, 97, 97, 0.14);
          box-shadow: 0px 4px 8px rgba(97, 97, 97, 0.14), 0px 8px 16px rgba(97, 97, 97, 0.14);
  padding: 30px 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.team_area .team_content .team_item .name {
  font-weight: 700;
  color: var(--black);
  padding-bottom: 11px;
  padding-top: 13px;
}

.team_area .team_content .team_item .description {
  font-weight: 700;
  color: var(--black);
}

.team_area .team_content .team_item:hover {
  border-radius: 20px;
  background: var(--alice-blue);
}
/*# sourceMappingURL=style.css.map */