/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
:root {
  --black: #000;
  --white: #fff;
  --primary: #00A7E7;
  --gray: #ECF0F3;
  --alice-blue: #E5F8FF;
  --font2: 'Montserrat', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.bg_gray {
  background-color: var(--gray);
}

.section-content .title {
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 0.2px;
  color: var(--black);
}

.phone-block {
  display: none;
}

@media (max-width: 991.98px) {
  .section-content .title {
    font-size: 34px;
  }
  .desktop-block {
    display: none;
  }
  .phone-block {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .section-content .title {
    font-size: 26px;
  }
}

.slick-dots {
  position: relative;
  bottom: 0;
  margin-top: 30px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: var(--primary) !important;
}

.slick-dots li.slick-active button:before {
  color: var(--primary) !important;
}

.navbar_top {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 25px 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 11;
}

.navbar_top .menuList {
  gap: 10px;
  margin-left: 40px;
}

.navbar_top .menuList .nav-link,
.navbar_top .menuList a {
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 18px;
}

.navbar_top .signLogBtn {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_top .signLogBtn .nav-link,
.navbar_top .signLogBtn a {
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--primary);
  min-width: 92px;
  height: 45px;
  border: 1px solid var(--primary);
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-size: 18px;
}

.navbar_top .signLogBtn .act {
  background: var(--primary);
  color: var(--white);
}

.navbar_top .phone-icon {
  margin-left: auto;
  margin-right: 20px;
}

.navbar_top .phone-icon a.nav-link {
  min-width: 60px;
  height: 40px;
  border-radius: 5px;
}

.user-dropdown #dropdown-basic {
  background: none;
  padding: 0;
  border: 0;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-dropdown #dropdown-basic img {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 100% !important;
}

.user-dropdown #dropdown-basic::after {
  display: none;
}

.user-dropdown .dropdown-menu {
  width: 240px;
  padding: 14px 5px;
  gap: 29px;
  border: 0;
  -webkit-box-shadow: 10px 0 50px rgba(18, 25, 33, 0.15);
          box-shadow: 10px 0 50px rgba(18, 25, 33, 0.15);
  position: absolute;
  margin-top: 18px;
}

.user-dropdown .dropdown-menu::before {
  content: '';
  position: absolute;
  top: -7px;
  right: 18px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

.user-dropdown .dropdown-menu a.dropdown-item {
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  font-size: 15px;
}

.user-dropdown .dropdown-menu a.dropdown-item:active, .user-dropdown .dropdown-menu a.dropdown-item:hover {
  background-color: var(--primary);
  color: var(--white);
}

.nabActive {
  padding: 10px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
          box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
}

.banner_area {
  background: var(--gray);
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner_area .banner_content .title {
  font-weight: 800;
  font-size: 54px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #002533;
}

.banner_area .banner_content form {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  margin: 30px 0 25px;
}

.banner_area .banner_content form input {
  min-width: 445px;
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  font-family: var(--font2);
  padding: 0 15px;
}

.banner_area .banner_content form button {
  background: var(--primary);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 0 18px;
  height: 50px;
}

.banner_area .banner_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner_area .banner_content ul li a {
  background: var(--alice-blue);
  border: 1px solid var(--black);
  border-radius: 10px;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.2px;
  height: 50px;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199.98px) {
  .banner_area .banner_content .title {
    font-size: 40px;
  }
  .banner_area .banner_content form input {
    min-width: unset;
    width: 100%;
  }
  .banner_area .banner_content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner_area .banner_content ul li a {
    height: 40px;
    padding: 0 12px;
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  .banner_area {
    min-height: auto;
    padding: 100px 0;
  }
  .banner_content .slick-slider {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .banner_area .banner_content ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .banner_area .banner_content .title {
    font-size: 31px;
  }
}

.client_logo_area {
  padding: 30px 0;
}

.client_logo_area .client_logo_item {
  height: 80px;
  display: -ms-grid !important;
  display: grid !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories_area {
  border-top: 10px solid var(--gray);
}

.categories_area .categories_content .categories_item {
  position: relative;
  z-index: 1;
}

.categories_area .categories_content .categories_item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 98%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.categories_area .categories_content .categories_item .imageC img {
  width: 100%;
}

.categories_area .categories_content .categories_item .textC {
  position: absolute;
  bottom: 7px;
  z-index: 11;
  width: 100%;
  left: 0;
  padding: 25px;
}

.categories_area .categories_content .categories_item .textC .h5 {
  color: var(--white);
}

.categories_area .categories_content .categories_item .textC p {
  color: var(--white);
}

.choose_platform_area {
  background-image: url(../img/platform-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose_platform_area .section-content {
  padding-bottom: 30px;
}

.choose_platform_area .hire_form {
  background-color: var(--alice-blue);
  border-top: 10px solid var(--primary);
  padding: 50px 35px;
}

.choose_platform_area .hire_form .h4 {
  padding: 13px 0 20px;
  font-weight: 700;
}

.choose_platform_area .hire_form .btn {
  width: 300px;
  height: 50px;
  background: var(--primary);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.1px;
}

@media (max-width: 991.98px) {
  .choose_platform_area {
    background: var(--gray);
    min-height: auto;
    padding: 80px 0;
  }
}

@media (max-width: 575.98px) {
  .choose_platform_area .hire_form {
    padding: 35px 15px;
  }
}

.work_plane_area .work_plane_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 63% 35%;
      grid-template-columns: 63% 35%;
  gap: 25px;
}

.work_plane_area .work_plane_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
}

.work_plane_area .work_plane_list .work_plane_item {
  position: relative;
}

.work_plane_area .work_plane_list .work_plane_item .number {
  color: #CCF1FF;
  font-family: 'Neonderthaw', cursive;
  position: absolute;
  font-size: 46px;
  top: -33px;
  left: -28px;
  z-index: -1;
}

.work_plane_area .work_plane_list .work_plane_item .h4 {
  font-weight: 700;
}

.work_plane_area .work_plane_list .work_plane_item .get_btn a {
  background: var(--primary);
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  border-radius: 10px;
}

.work_plane_area .work_plane_img {
  background-image: url(../img/work.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work_plane_area .work_plane_img .play_i {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 991.98px) {
  .work_plane_area .work_plane_content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .work_plane_area .work_plane_img {
    padding: 100px 0;
  }
}

@media (max-width: 575.98px) {
  .work_plane_area .work_plane_list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services_area .filterS {
  margin-left: auto;
  font-size: 40px;
  cursor: pointer;
}

.services_area .services_item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
          box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
  padding: 20px;
  margin-top: 25px;
}

.services_area .services_item .services_img {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.services_area .services_item .services_img img {
  border-radius: 10px;
}

.services_area .services_item .services_img .heart {
  position: absolute;
  top: 20px;
  right: 20px;
}

.services_area .services_item .services_img .heart span {
  display: none;
  color: var(--white);
  border: 1px solid var(--white);
  width: 30px;
  height: 30px;
  border-radius: 100px;
  text-align: center;
  padding: 4px 0;
  font-size: 14px;
  cursor: pointer;
}

.services_area .services_item .services_img .heart .active {
  display: block;
}

.services_area .services_item .services_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services_area .services_item .services_user .use_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.services_area .services_item .services_user .use_img span {
  font-size: 14px;
}

.services_area .services_item .services_user .use_button {
  margin-left: auto;
}

.services_area .services_item .services_user .use_button .use_btn {
  background-color: var(--alice-blue);
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 12px;
  color: var(--black);
  cursor: pointer;
}

.services_area .services_item .services_description {
  padding: 24px 0;
}

.services_area .services_item .services_description p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: var(--black);
}

.services_area .services_item .services_footer {
  border-top: 1px solid #B6B6B6;
}

.services_area .services_item .services_footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 15px;
}

.services_area .services_item .services_footer ul li {
  font-weight: 600;
  font-size: 14px;
}

.services_area .services_item .services_footer ul .name_pri span {
  color: #E71D1C;
}

.services_area .services_item .services_footer ul .star {
  margin-left: auto;
  color: #FABE63;
}

.services_area .services_item .services_footer ul .star span {
  color: #B6B6B6;
}

.Solution_area .solution_item {
  background-color: var(--alice-blue);
  padding: 45px 30px;
  text-align: center;
  margin-top: 25px;
}

.Solution_area .solution_item img {
  height: 60px !important;
}

.Solution_area .solution_item .h5 {
  font-weight: 600;
  margin-top: 10px;
}

.team_area .slick-list {
  margin: 0 -12px;
}

.team_area .team_content .team_item {
  background: var(--white);
  -webkit-box-shadow: 0px 4px 8px rgba(97, 97, 97, 0.14), 0px 8px 16px rgba(97, 97, 97, 0.14);
          box-shadow: 0px 4px 8px rgba(97, 97, 97, 0.14), 0px 8px 16px rgba(97, 97, 97, 0.14);
  padding: 30px 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 12px;
}

.team_area .team_content .team_item .name {
  font-weight: 700;
  color: var(--black);
  padding-bottom: 11px;
  padding-top: 13px;
}

.team_area .team_content .team_item .description {
  font-weight: 700;
  color: var(--black);
}

.team_area .team_content .team_item:hover {
  border-radius: 20px;
  background: var(--alice-blue);
}

.testimonials_area .slick-list {
  margin: 0 -12px;
}

.testimonials_area .tim_mm {
  background: var(--white);
  -webkit-box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
          box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
  padding: 50px 30px;
  text-align: center;
  position: relative;
  margin: 12px;
}

.testimonials_area .tim_mm::before, .testimonials_area .tim_mm::after {
  content: '';
  position: absolute;
  background-size: contain;
  width: 28px;
  height: 18px;
}

.testimonials_area .tim_mm::before {
  background: url(../img/quit1.png) no-repeat center;
  top: 10%;
  left: 10%;
}

.testimonials_area .tim_mm::after {
  background: url(../img/quit2.png) no-repeat center;
  right: 10%;
  bottom: 6%;
}

.testimonials_area .tim_mm .testimonials_img img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.testimonials_area .tim_mm .testimonials_text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

.testimonials_area .tim_mm .testimonials_text ul li {
  color: #E77C40;
}

.testimonials_area .tim_mm .testimonials_text p {
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #737373;
  font-size: 14px;
}

.testimonials_area .tim_mm .testimonials_text .h6 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.testimonials_area .tim_mm .testimonials_text .name {
  color: #23A6F0;
  padding: 15px 0 10px;
}

.testimonials_area .tim_mm .testimonials_text .des {
  color: var(--black);
}

.count_area {
  background-color: var(--primary);
}

.count_area .count_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(23%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
  gap: 25px;
}

.count_area .count_content .count_item {
  text-align: center;
}

.count_area .count_content .count_item .number {
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 5.2px;
  color: var(--white);
  padding-bottom: 20px;
}

.count_area .count_content .count_item .h6 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #E4E4E4;
}

@media (max-width: 1199.98px) {
  .count_area .count_content {
    -ms-grid-columns: (minmax(22%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
  }
  .count_area .count_content .count_item .number {
    font-size: 40px;
  }
  .count_area .count_content .count_item .h6 {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .count_area .count_content {
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    gap: 40px;
  }
}

.guides_area .guides_item {
  background: var(--white);
  -webkit-box-shadow: 0px 4px 8px rgba(97, 97, 97, 0.14), 0px 8px 16px rgba(97, 97, 97, 0.14);
          box-shadow: 0px 4px 8px rgba(97, 97, 97, 0.14), 0px 8px 16px rgba(97, 97, 97, 0.14);
  border-radius: 20px;
  padding: 50px 30px;
  margin-top: 30px;
}

.guides_area .guides_item img {
  border-radius: 25px;
}

.guides_area .guides_item .h4 {
  font-weight: 700;
  color: var(--black);
  padding: 20px 0;
}

.guides_area .guides_item p {
  color: #545D69;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .guides_area .guides_item {
    border-radius: 20px;
    padding: 30px 20px;
    margin-top: 20px;
  }
  .guides_area .guides_item img {
    border-radius: 11px;
  }
}

.blog_area .mor_blog a {
  background: var(--primary);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
  gap: 10px;
  height: 66px;
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.blog_area .blog_item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
          box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
  border-radius: 10px;
}

.blog_area .blog_item .blog_img {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}

.blog_area .blog_item .blog_img span {
  display: inline !important;
}

.blog_area .blog_item .blog_img::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.blog_area .blog_item .blog_title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: var(--black);
}

.blog_area .blog_item .date li {
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #64607D;
}

.blog_area .blog_item .description {
  padding-top: 10px;
  color: #64607D;
  line-height: 1.5;
}

.blog_area .blog_item .blog_head {
  position: relative;
}

.blog_area .blog_item .blog_head .blog_title {
  font-weight: 500;
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 1;
  cursor: pointer;
}

.blog_area .blog_item .blog_footer {
  padding: 20px;
  min-height: 165px;
}

.blog_area .blog_side {
  display: -ms-grid;
  display: grid;
  gap: 25px;
}

.blog_area .blog_side_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #DEE1E6;
  padding-bottom: 25px;
}

.blog_area .blog_side_item span {
  display: inline !important;
}

.blog_area .blog_side_item .blog_title {
  font-weight: 700;
  cursor: pointer;
}

.blog_area .blog_side_item li {
  color: #64607D;
}

@media (max-width: 1199.98px) {
  .blog_area .blog_side_item .blog_title {
    font-size: 12px;
  }
  .blog_area .blog_side_item li {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .blog_area .about_sec {
    display: -ms-grid;
    display: grid;
    gap: 22px;
  }
  .blog_area .mor_blog a {
    height: 55px;
  }
  .mor_blog.ms-auto {
    margin: 0 !important;
  }
}

.footer_area {
  background-color: #E5F8FF;
}

.footer_area .footer_widget {
  margin-bottom: 50px;
}

.footer_area .footer_widget p {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #002533;
  padding-top: 10px;
}

.footer_area .footer_widget .widget_social {
  margin-top: 25px;
}

.footer_area .footer_widget .widget_social li a {
  color: #3734A9;
  font-size: 26px;
  cursor: pointer;
}

.footer_area .footer_widget .widget_list {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.footer_area .footer_widget .widget_list li a {
  font-weight: 500;
  font-size: 16px;
  color: #181433;
  cursor: pointer;
}

.footer_area .footer_widget .widget_title {
  font-weight: 700;
  color: var(--black);
  padding-bottom: 25px;
}

.footer_area .footer_widget form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer_area .footer_widget form input {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #181433;
  padding: 15px;
  width: 100%;
}

.footer_area .footer_widget form button {
  background-color: #3734A9;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--white);
  padding: 0 30px;
}

.footer_area .footer_widget .newsText {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #181433;
}

.footer_area .copyRight {
  text-align: center;
  border-top: 2px solid #E5E5EA;
  padding: 30px 0px;
}

.signup_wrapper {
  min-height: 100vh;
  background-color: #ecf0f3;
}

.signup_wrapper .navbar_top {
  padding: 10px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
          box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
}

.signup_page_area {
  padding-top: 90px;
}

.signup_page_area .signup_box {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 1.5rem;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
          box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
}

.signup_page_area .signup_header {
  padding-bottom: 20px;
}

.signup_page_area .signup_google_btn button {
  border: 1px solid #ced4da;
  background: var(--white);
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
}

.signup_page_area .form-check {
  margin: 15px 0;
}

.signup_page_area .form-check a {
  color: var(--primary);
}

.signup_page_area .sub_btn {
  background: var(--primary);
  color: var(--white);
  width: 100%;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
}

.signup_page_area .signup_footer {
  text-align: center;
  padding-top: 30px;
}

.signup_page_area .signup_footer a {
  color: var(--primary);
  font-weight: 700;
  margin-top: 5px;
  display: inline-block;
}

.signup_page_area .form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0;
  border: 1px solid var(--primary);
}

.signup_page_area .form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.signup_page_area .or_text {
  position: relative;
}

.signup_page_area .forgot_pass {
  padding: 15px 0;
  text-align: right;
}

.signup_page_area .forgot_pass a {
  color: var(--primary);
}

.signup_page_area .pass_btn {
  position: absolute;
  right: 0;
  top: 0px;
  font-size: 21px;
  cursor: pointer;
  height: 100%;
  width: 40px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input,
button,
textarea {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border-color: var(--gray) !important;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.form-floating > .form-control {
  padding: 0.7rem 1.15rem;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: .65;
  -webkit-transform: scale(1) translateY(-1.5rem) translateX(0rem);
          transform: scale(1) translateY(-1.5rem) translateX(0rem);
}

.form-floating > label {
  left: .5rem;
  padding: 0.8rem 0.75rem;
  color: #292929;
  font-size: 14px;
  font-weight: 500;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.1rem + 0px);
  line-height: 2.25;
}
/*# sourceMappingURL=style.css.map */